doctype
html(xmlns="http://www.w3.org/1999/xhtml")
	head
		meta(http-equiv="Content-Type" content="text/html;" charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")				
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		title İstanbul Kırsal Mahalleleri
		link(href='https://fonts.googleapis.com/css?family=Poppins:600,400,700&subset=latin,latin-ext' rel='stylesheet' type='text/css')				
		link(rel="stylesheet" href="css/normalize.css" type="text/css")		
		link(rel="stylesheet" href="css/bootstrap.min.css" type="text/css")
		link(rel="stylesheet" href="css/bootstrap-theme.min.css" type="text/css")
		link(rel="stylesheet" href="css/main.css" type="text/css")
		link(rel="stylesheet" href="flaticon/flaticon.css" type="text/css")
		link(rel="stylesheet" href="css/animate.min.css" type="text/css")		


		<!--[if (gte IE 6)&(lte IE 8)]>
		<script type="text/javascript" language="javascript" src="js/html5.js"></script>
		<script type="text/javascript" language="javascript" src="js/modernizr.js"></script>		

		<![endif]-->	
	body.index-bg		
		header.container-fluid
			span.pull-left 
				a(href="http://www.ibb.gov.tr" target="_blank")
					img(src="assets/buyuksehir_logo.jpg", alt="")
			ul
				li 
					
					a(href="#modal-menu" class="btn btn-link" id="open-menu")
						span.flaticon-lines7
						| MENÜ
				li
					a(href="index.html" class="btn btn-link visible-lg") Anasayfa
			
			span.pull-right#ara-link 
				a(href="arama.html" class="btn btn-link") 
					span.flaticon-magnifier12
					| arama
				

			.head-text.hidden-xs 
				h1 İstanbul Kırsal Mahalleleri
				span.opacity-text İstanbul’un Kırsal Mahallelerinin Demografik Bilgileri
		
		.container-fluid
			section#harita.animated.fadeInUp.center-block
				
				// PROPOVERLAR				
				#propCatalca.haritaprop.animated.fadeInDown.hide
					.title ÇATALCA
					.detay-btn
						a(href="#" class="btn btn-warning btn-sm")
							| DETAY
							span.flaticon-arrow487
					hr
					.dem
						span Mah. Sayısı  : 33
						span Toplam Nüfus : 1.657
				

				
				div#ilceKoyAra
					span.opacity-middle İLÇE YA DA KÖY ARA
					a(href="arama.html" class="btn btn-warning btn-lg block")
						span.flaticon-magnifier12
								| ARA
					
				object(data="assets/harita_istanbul-compressor.svg" type="image/svg+xml" id="haritasvg" width="100%")				
		#modal-menu(tabbindex="-1")
			.container.modal-content
				#btn-close-modal.pull-right.red.close-modal-menu
					a.btn.btn-ghost.btn-ghost-red
						span.flaticon-cancel30
						| KAPAT

				.title navigasyon
				hr
				ul
					li
						a(href="index.html") Anasayfa
					li
						a(href="harita.html") Harita
					li
						a(href="#arama") İlçeler ve Köyler

		
		script(type="text/javascript" src="js/jquery-1.11.3.min.js")
		script(type="text/javascript" src="js/animatedModal.min.js")
		script(type="text/javascript").
			var haritasvg = document.getElementById('haritasvg')
			var propover = document.getElementById('haritaprop')
			
			haritasvg.addEventListener("load",function(){				
				var svgDoc = haritasvg.contentDocument
				
				/* İLÇE LİSTESİ ------------ */				
				var pathCatalca = svgDoc.getElementById('pathCatalca') 
				
				/* İLÇE FONKSİYONLARI ------ */	
				
				/*çatalca mouseenter*/			
				pathCatalca.addEventListener("mouseenter",function(){					
					var catalcaInner = $(this).find('#path-9-link')
					catalcaInner.attr('fill','url(#redGradient)')
					$(this).css('cursor','pointer')
				});


				/*çatalca mouseleave*/
				pathCatalca.addEventListener("mouseleave",function(){
					var catalcaInner = $(this).find('#path-9-link')
					catalcaInner.attr('fill','url(#linearGradient-2)')
						});

				
				pathCatalca.addEventListener("mousedown",function(){
					$('#propCatalca').addClass('show')
				});


			})


				
				

		script(type='text/javascript').
			$("#open-menu").animatedModal({
				modalTarget:'modal-menu',
				animatedIn:'slideInLeft',
				animatedOut:'slideOutLeft'
				});

    			