doctype html
html(xmlns='http://www.w3.org/1999/xhtml')
  head
    meta(http-equiv='Content-Type', content='text/html;', charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title İstanbul Kırsal Mahalleleri
    link(href='https://fonts.googleapis.com/css?family=Poppins:600,400,700&subset=latin,latin-ext', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='css/normalize.css', type='text/css')
    link(rel='stylesheet', href='css/bootstrap.min.css', type='text/css')
    link(rel='stylesheet', href='css/bootstrap-theme.min.css', type='text/css')
    link(rel='stylesheet', href='css/main.css', type='text/css')
    link(rel='stylesheet', href='flaticon/flaticon.css', type='text/css')
    link(rel='stylesheet', href='css/animate.min.css', type='text/css')
    //
      if (gte IE 6)&(lte IE 8)
      script(type='text/javascript', language='javascript', src='js/html5.js')
      script(type='text/javascript', language='javascript', src='js/modernizr.js')
  body.detay-bg
    header.container-fluid.animated.fadeInDown
      span.pull-right
        a(href='http://www.ibb.gov.tr', target='_blank')
          img(src='assets/buyuksehir_logo.jpg', alt='')
      ul
        li
          a#open-menu.btn.btn-link(href='#modal-menu')
            span.flaticon-lines7
            | MENÜ
        li
          a.btn.btn-link.visible-lg(href='index.html') Anasayfa          
     
      .head-text.hidden-xs
        h1 Arnavutköy Baklalı Mahallesi
        span.opacity-text Baklalı mahallesi detaylarını görüntülüyorsunuz
    //header sonu
    ol.breadcrumb.animated.fadeInDown
      .title Neredeyim?
      li
        a(href="index.html") Anasayfa
      li
        a(href="harita.html") Harita
      li
        a(href="ilceDetay.html") Arnavutköy

      li.active Baklalı Mah.<span class="flaticon-pin56"></span>
    //breadcrumb sonu

    .container-fluid
      .container#toplamNufus
        .title-demog.animated.fadeInDown Toplam Nüfus
        .text.animated.fadeInUp 
          span.flaticon-multiple25
          span 10.689

    .container-fluid.white-bg.animated.fadeInUp
      .container.demog-bolum
        .title-demog.gold.animated.fadeInUp Geçim Kaynakları       
        .row
          .col-md-2.animated.fadeInUp          
            .col-in-light              
              .text TARIM
          .col-md-2.animated.fadeInUp 
            .col-in-light              
              .text LALE YETİŞTİRİCİLİĞİ

          .col-md-2.animated.fadeInUp
            .col-in-light              
              .text HAYVANCILIK
         



    .container-fluid.animated.fadeInUp
      .container.demog-bolum        
          .row#yatirimlar
            .col-md-2
              .title Mevcut Yatırımlar
              .col-in-dark              	
                .text FIRIN

            .col-md-2 
              .col-in-dark              	
                .text ÇEŞME
            
            .col-md-2
              .title Talep Edilenler
              .col-in-dark              	
                .text HALI SAHA

            .col-md-2
              .title Devam Edilenler
              .col-in-dark              	
                .text PARK

    .container-fluid.white-bg.animated.fadeInUp
      .container.demog-bolum 
        .title-demog.gold Şikayet Konuları       
          .row
            .col-md-2            
              .col-in-light	              
                .text ARIZA KESİNTİSİ
            .col-md-2
              .col-in-light              
                .text SOKAK AYDINLATMASI

            .col-md-2
              .col-in-light              
                .text İLAÇLAMA

    .container-fluid.animated.fadeInUp
      .container.demog-bolum
        .title-demog.orange 2015 Seçimleri  
          .row#secim
              .col-md-2              
                .col-in-dark
                  .h3 4              	
                  .text SANDIK

              .col-md-2              
                .col-in-dark
                  .h3 328                  
                  .text SEÇMEN

              .col-md-2              
                .col-in-dark
                  .h3 280              	
                  .text KATILIM

              .col-md-2              
                .col-in-dark
                  .h3 220              	
                  .text GEÇERLİ OY

    .container-fluid.white-bg.animated.fadeInUp
      .container.demog-bolum
        .title-demog.gold 2015 Parti Dağılımı       
          .row#partiler
            .col-md-2            
              .col-in-light
                img(src="assets/ak_parti.png", alt="")	              
                .h3.gold 249
            .col-md-2            
              .col-in-light
                img(src="assets/chp.png", alt="" style="margin-top:15px")
                .h3.gold 130
            .col-md-2            
              .col-in-light
                img(src="assets/mhp.png", alt=""  style="margin-top:15px")
                .h3.gold 93

            .col-md-2            
              .col-in-light
                img(src="assets/hdp.png", alt="")
                .h3.gold 29



    .container-fluid.animated.fadeInUp
      .container.demog-bolum
        .title-demog.orange Muhtarlık Bilgileri
        table.table
          thead
            tr
              th MUHTAR ADI 
              th TELEFON
              th ADRES
              th DOĞUM
              th EĞİTİM
              th CİNSİYET 
              th YER
          tbody
            tr
              td Selim ŞEN
              td 212 212 12 12
              td Baklalı mah. dursun köy cad. no:16-a Arnavutköy
              td 15/05/1963
              td İLKÖĞRETİM
              td ERKEK
              td YOK	
    #modal-menu(tabbindex='-1')
      .container.modal-content
        #btn-close-modal.pull-right.red.close-modal-menu
          a.btn.btn-ghost.btn-ghost-red
            span.flaticon-cancel30
            | KAPAT
        .title navigasyon
        hr
        ul
          li
            a(href='index.html') Anasayfa
          li
            a(href='harita.html') Harita         
    script(type='text/javascript', src='js/jquery-1.11.3.min.js')
    script(type='text/javascript', src='js/animatedModal.min.js')    

    script(type='text/javascript').
        $("#open-menu").animatedModal({
          modalTarget:'modal-menu',
          animatedIn:'slideInLeft',
          animatedOut:'slideOutLeft'
        })//open menu		
        